@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Introduction to LINQ</h1>


</div>

<div class="row">
    <div class="col-md-4">
        <a asp-action="Example1" asp-controller="LINQ" class="btn btn-success">Example-1</a><br /><br />
        <a asp-action="Example2" asp-controller="LINQ" class="btn btn-primary">Example-2</a><br /><br />
        <a asp-action="Example3" asp-controller="LINQ" class="btn btn-success">Example-3</a><br /><br />
    </div>
</div>